
/* soft reset css */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background-image: url('https://image.freepik.com/free-vector/retro-vaporwave-background-cyberpunk-laser-grid-80s-style-abstract-futuristic-landscape_87408-125.jpg');
    background-size: 200vh 100vh;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    text-align: center;
    background-attachment: fixed;
    }
    /*Se for pelomenos 400 pixels funciona os estilos*/
    @media (min-widht: 400px) {
      body{
        font-size: 14px;
      }
    }
    @media (min-widht: 1200px) {
      body{
        font-size: 18px;
        background-image: none;
      }
    }
  h2 {
    font-family: 'Press Start 2P', cursive;
    color: whitesmoke;
    margin-bottom: 2em;
    font-size: 2em;
    text-align: center;
  } 
    
    header {
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      
    }
    .menu{
      background-color: whitesmoke;
      position: fixed;
      width: 100vw;
      top: 10px;
      box-shadow: 0px 4px 10px black;
      z-index: 1;
    }

  .menu li{
    list-style: none
  }

  .menu a {
    display:block;
    padding: 10px 20px;
  }
  .menu ul {
    display: flex;
    justify-content: space-around;
    font-family: monospace;}
  a {
    color: rgb(0, 0, 0);
    text-decoration: none;
  }
  a:hover{
    text-decoration: underline;
  }
  .subtitle,
  .site-title{
    color:whitesmoke;
    text-align:center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 1em;
  }
  .site-title {
    font-size: 3em;
    font-family: 'Press Start 2P', cursive;
  }
  .subtitle{
    font-family: 'Baloo Chettan 2', cursive;
  }
  
  
  
  section.portfolio {
    padding: 2em;
    margin-bottom: 2em;
    height: 100vh;
  }

  .Sobre p {
    color: whitesmoke;
    margin: 2em;
    font-size: 1.5em;
    text-indent: 1em;
    text-align: justify;
    background-color: rgba(255, 255, 255, 0.199);
  }
  
  .Sobre a {
    color:yellow;
  }


  .Sobre .profile{
    float: right;
    margin-left: 2em;
  }
  
  .Sobre .profile img {
    border-radius: 50%;
    margin-right: 2em;
  }

  .portfolio .grid {
    display: grid;
    gap: 1em;
    grid-template-columns: 150px 150px 150px 150px;
    align-content: center;
    justify-content: space-between;

  }
    @media (min-whidth 600px){
    .porfolio .grid {
      grid-template-columns: 150px 150px;
    }
  }
  
  .img-portfolio {
    width:120px;
    height:120px;
    object-fit:cover;
    border-radius:50%;
  }


  .img-portfolio:hover {   
    transform: scale(1.1);
  }


  figcaption {
    background-color: #0000001f;
    color: white;
    box-shadow: 4px 4px 0px 0px black;
}

.sobre,
.contato a {
  color: whitesmoke;
  font-size: 4em;
  transition: text-shadow 1s; 
}


.contato a:hover{
  text-decoration: none;
  text-shadow: 0px 0px 15px rgb(255, 255, 255);
}



/*-----Footer------*/

footer{
  width: 100%;
  background-color: rgba(0, 0, 0, 0.486);
  padding: 60px 0px;
}


.typewriter {
  font-family: Courier, monospace;
display: inline-block;
color: whitesmoke;
}

.typewriter-text {
  display: inline-block;
  overflow: hidden;
  letter-spacing: 2px;
 animation: typing 5s steps(35, end), blink .75s step-end infinite;
  white-space: nowrap;
  font-size: 30px;
  font-weight: 700;
  border-right: 4px solid rgb(255, 255, 255);
  box-sizing: border-box;
}

@keyframes typing {
  from { 
      width: 0% 
  }
  to { 
      width: 100% 
  }
}

@keyframes blink {
  from, to { 
      border-color: transparent 
  }
  50% { 
      border-color: rgb(255, 255, 255); 
  }
}



