
/* soft reset css */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;}

body {
    background-image: url('https://image.freepik.com/free-vector/futuristic-technology-background_23-2148494694.jpg');
    background-size: auto 100vw;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    text-align: center;
    }
    /*Se for pelomenos 400 pixels funciona os estilos*/
    @media (min-widht: 400px) {
      body{
        font-size: 14px;
      }
    }
    @media (min-widht: 1200px) {
      body{
        font-size: 18px;
        background-image: none;
      }
    }
  h2 {
    font-family: 'Press Start 2P', cursive;
    color: whitesmoke;
    margin-bottom: 2em;
    font-size: 2em;
    text-align: center;
  } 
    
    header {
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      
    }
    .menu{background-color: whitesmoke;
      position: fixed;
      width: 100vw;
      top: 10px;
    }

  .menu li{
    list-style: none
  }

  .menu a {
    display:block;
    padding: 10px 20px;
  }
  .menu ul {
    display: flex;
    justify-content: space-around;
    font-family: monospace;}
  a {
    color: rgb(0, 0, 0);
    text-decoration: none;
  }
  a:hover{
    text-decoration: underline;
  }
  .subtitle,
  .site-title{
    color:whitesmoke;
    text-align:center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 1em;
  }
  .site-title {
    font-size: 3em;
    font-family: 'Press Start 2P', cursive;
  }
  .subtitle{
    font-family: 'Baloo Chettan 2', cursive;
  }
  section.portfolio {
    padding: 2em;
    margin-bottom: 2em;
    height: 100vh;
  }

  .portfolio .grid {
    display: grid;
    gap: 1em;
    grid-template-columns: 150px 150px 150px 150px;
    align-content: center;
    justify-content: space-between;

  }
  @media (min-widht 700px){
    .porfolio .grid {
      grid-template-columns: 150px 150px;
    }
  }

  .portfolio figure {
    
  }
  
  .img-portfolio {
    width:120px;
    height:120px;
    object-fit:cover;
    border-radius:50%;
  }
  figcaption {
    background-color: #0000001f;
    color: white;
    box-shadow: 4px 4px 0px 0px black;
}

